.Die {
    font-size: 10em;
    padding: 0.25em;
    color: #6ab7ff;
}

.Die-rolling {
    animation-name: wiggle;
    animation-duration: 1s;
}

@keyframes wiggle {
    20% {
        transform: rotate(7deg);
    }

    40% {
        transform: rotate(-14deg);
    }

    60% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }
}